<!DOCTYPE html>
<head>
 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Image Portal -- image posting -- art  // fashion // design ">
    <meta name="Image Portal" content="">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

   <script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
   <script type="text/javascript" src="/fancybox/jquery.easing-1.4.pack.js"></script>
   <script type="text/javascript" src="/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
   
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <%= stylesheet_link_tag "thumbnail-gallery.css" %>
    <%= stylesheet_link_tag "application.css" %>
</head>

<body> 
    
    <div class="container">
        <article class="fimage">
          <div class="container">
             <div class="col-md-4">
             <p> <%= @image.title %></p>
             <br>
             <p><%= @image.created_at %></p>
             <p><a href="/images/index">Back to Index</a></p>
             </div>
             <div class="col-md-4">
             
                 <%= image_tag @image.avatar.url %>
                 
            </div>
            <div class="col-md-4">            
       
            </div>
            </div>
          </div>
      </article>
       <footer>
            <div class="row">
                <div class="col-lg-12">
                  
                     <p>Copyright &copy; Image Portal 2016</p>
                    
                
                </div>
            </div>
        </footer>
</div>
</body>
</html>
